name: Update countdown image

on:
  schedule:
    - cron: "*/2 * * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - run: pip install Pillow

      - run: python count.py

      - run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add timer-email.png
          git add timer-email.gif
          git commit -m "Auto-update countdown image" || echo "No changes"
          git push
